__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
.env
.cache
.mypy_cache
.vscode/
.idea/
.git/
build/
dist/
*.egg-info
!checkpoints/
datasets/
demo_data/
media/
*.log
*.pth
*.pt
*.onnx
node_modules/
coverage/
/.dockerignore
